######################################################################################################
# TRANSMETER
# Authors: Hyunsik Jeon(jeon185@snu.ac.kr), SeungCheol Park(ant6si@snu.ac.kr),
#          Yuna Bae(yunabae482@gmail.com), U kang(ukang@snu.ac.kr)
# File: TANR/requirements.txt
# - requirements for run model TANR
#
# Version: 1.0
#######################################################################################################


torch
numpy
pandas
tensorboard
tqdm
nltk
scikit-learn
